<script type="text/babel">
window.Program = React.createClass({
  getInitialState() {
    return {program:[]}; 
  },
  render: function() {
    var modalTarget = "#program-"+this.props.uid;
    var modalId = "program-"+this.props.uid;

    return (
    <div>
      <div className="modal fade" id={modalId} tabIndex="-1" role="dialog">
        <div className="modal-dialog" role="document">
          <div className="modal-content">
            <div className="modal-header">
              <button type="button" className="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 className="modal-title" id="myModalLabel">Edit {this.props.name}</h4>
            </div>
            <div className="modal-body">
              ...
            </div>
            <div className="modal-footer">
              <button type="button" className="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" className="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div className="panel-default">
        <div className="panel-heading">
          <h3 className="panel-title">{this.props.name}
            <button type="button" className="btn btn-link" data-toggle="modal" data-target={modalTarget}>
              Edit 
            </button>
          </h3>
        </div>
      </div>

    </div>
    );
  }
});

window.Programs = React.createClass({
  getInitialState() {
    return {programs:[]}; 
  },
  componentDidMount: function() {

    var s = Cookies.get("session");

    $.get( config.api + s + "/programs", { token: session.token}, function( data ) {
      if (this.isMounted()) {
        var data =  {programs:data.response}; 
        this.setState(data);
      }
    }.bind(this));
  },
  render: function() {
    return (
        <div>
          <h3>Programs</h3>
          <p>A program is a course with students assigned to it
            <button type="button" className="btn btn-link pull-right" data-toggle="modal" data-target="#new_program">
              [+] Create a new Program
            </button>
          </p>

          <div className="modal fade" id="new_program" tabIndex="-1" role="dialog">
            <div className="modal-dialog" role="document">
              <div className="modal-content">
                <div className="modal-header">
                  <button type="button" className="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 className="modal-title" id="myModalLabel">Create new Program</h4>
                </div>
                <div className="modal-body">
                  ...
                </div>
                <div className="modal-footer">
                  <button type="button" className="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" className="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        {this.state.programs.map(function(program,i) {
          return (
            <Program key={program.uid} uid={program.uid} name={program.name}/> 
          );
        })}
        </div>
      );
  }
});
</script>

